swagger: "2.0"
info:
  description: "API used by mobile apps"
  version: "1.0.0"
  title: "Kino API"
  termsOfService: "http://trionic.cz/terms/"
  contact:
    email: "dev@trionic.cz"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.trionic.cz"
basePath: "/kino/v1"
tags:
- name: "cinema"
  description: "Cinema operations"
  externalDocs:
    description: "Find out more"
    url: "http://trionic.cz"
- name: "movie"
  description: "Access to movies"
- name: "user"
  description: "Operations about user"
- name: "projections"
  description: "Operations about movie projection times"
- name: "proster"
  description: "Poster manipulation"
schemes:
- "https"
paths:
  /cinema/findByLocation:
    get:
      tags:
      - "cinema"
      summary: "Find cinemas by location"
      description: "Find all cinemas in circle specified by it's center point coordinates (latitude, longitude) and radius"
      operationId: "findCinemasByLocation"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "lat"
        in: "query"
        description: "Latitude of the circle center point"
        required: true
        type: "number"
        format: "float"
        collectionFormat: "multi"
      - name: "lon"
        in: "query"
        description: "Longitude of the circle center point"
        required: true
        type: "number"
        format: "float"
        collectionFormat: "multi"
      - name: "radius"
        in: "query"
        description: "Radius of the circle [km]"
        required: false
        type: "number"
        format: "float"
        default: 25.0
        collectionFormat: "multi"
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Cinema"
        400:
          description: "Invalid coordinates"
        401:
          description: "Unauthorized"
      security:
      - api_key: []
  /cinema/{cinemaId}:
    get:
      tags:
      - "cinema"
      summary: "Find cinema by ID"
      description: "Returns a single cinema"
      operationId: "getCinemaById"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "cinemaId"
        in: "path"
        description: "ID of cinema to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Cinema"
        400:
          description: "Invalid ID supplied"
        401:
          description: "Unauthorized"
        404:
          description: "Cinema not found"
      security:
      - api_key: []
  /movie/findByTime:
    get:
      tags:
      - "movie"
      summary: "Find movies by time"
      description: "Find N movies with premiere after given time"
      operationId: "findMoviesByTime"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "time"
        in: "query"
        description: "Start of time interval"
        required: true
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Maximum number of returned movies"
        required: false
        type: "integer"
        format: "int32"
        default: 50
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Movie"
        400:
          description: "Invalid time"
        401:
          description: "Unauthorized"
      security:
      - api_key: []
  /movie/{movieId}:
    get:
      tags:
      - "movie"
      summary: "Find movie by ID"
      description: "Returns a single movie"
      operationId: "getMovieById"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "movieId"
        in: "path"
        description: "ID of movie to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Movie"
        400:
          description: "Invalid ID supplied"
        401:
          description: "Unauthorized"
        404:
          description: "Movie not found"
      security:
      - api_key: []
  /poster/findByMovie:
    get:
      tags:
      - "poster"
      summary: "Find posters for a movie"
      description: "Return all posters for a specified movie"
      operationId: "findPostersByMovie"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "movieId"
        in: "query"
        description: "ID of movie"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Poster"
        401:
          description: "Unauthorized"
        404:
          description: "Movie ID not found"
      security:
      - api_key: []
  /poster/{posterId}:
    get:
      tags:
      - "poster"
      summary: "Find a poster by ID"
      description: "Returns a single poster"
      operationId: "getPosterById"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "posterId"
        in: "path"
        description: "ID of poster to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Poster"
        400:
          description: "Invalid ID supplied"
        401:
          description: "Unauthorized"
        404:
          description: "Poster not found"
      security:
      - api_key: []
  /projection/findByTime:
    get:
      tags:
      - "projection"
      summary: "Find projections by time"
      description: "Find N projections starting after given time"
      operationId: "findProjectionsByTime"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "time"
        in: "query"
        description: "Start of time interval"
        required: true
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Maximum number of returned projections"
        required: false
        type: "integer"
        format: "int32"
        default: 50
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Projection"
        400:
          description: "Invalid time"
        401:
          description: "Unauthorized"
      security:
      - api_key: []
  /projection/{projectionId}:
    get:
      tags:
      - "projection"
      summary: "Find projection by ID"
      description: "Returns a single projection"
      operationId: "getProjectionById"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "projectionId"
        in: "path"
        description: "ID of projection to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Projection"
        400:
          description: "Invalid ID supplied"
        401:
          description: "Unauthorized"
        404:
          description: "Projection not found"
      security:
      - api_key: []
  /user/login:
    post:
      tags:
      - "user"
      summary: "Logs user into the system"
      description: ""
      operationId: "loginUser"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "username"
        in: "formData"
        description: "The user name for login"
        required: true
        type: "string"
      - name: "password"
        in: "formData"
        description: "The password for login in clear text"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
          headers:
            X-Rate-Limit:
              type: "integer"
              format: "int32"
              description: "calls per hour allowed by the user"
            X-Expires-After:
              type: "string"
              format: "date-time"
              description: "date in UTC when token expires"
        400:
          description: "Invalid username/password supplied"
        401:
          description: "Unauthorized"
      security:
      - api_key: []
  /user/logout:
    get:
      tags:
      - "user"
      summary: "Logs out current logged in user session"
      description: ""
      operationId: "logoutUser"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        401:
          description: "Unauthorized"
      security:
      - kino_auth:
        - "read:user"
      - api_key: []
  /user/{username}:
    get:
      tags:
      - "user"
      summary: "Get user by user name"
      description: ""
      operationId: "getUserByName"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - name: "username"
        in: "path"
        description: "The name that needs to be fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid username supplied"
        401:
          description: "Unauthorized"
        404:
          description: "User not found"
      security:
      - kino_auth:
        - "read:user"
      - api_key: []
  /tracking/store:
    post:
      tags:
      - "tracking"
      summary: "store tracking values"
      description: ""
      operationId: "storeValues"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "apiKey"
        in: "header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "List of tracking values"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/TrackingValue"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/ApiResponse"
        401:
          description: "Unauthorized"
      security:
      - api_key: []
securityDefinitions:
  kino_auth:
    type: "oauth2"
    authorizationUrl: "http://trionic.cz/oauth/dialog"
    flow: "implicit"
    scopes:
      write:cinema: "modify cinema information"
      read:cinema: "read cinema list"
      write:movie: "update movie information"
      read:movie: "read movie list"
      write:projection: "update projection information"
      read:projection: "read projection list"
      write:poster: "change poster"
      read:poster: "download poster"
      write:user: "update user information"
      read:user: "read user information"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Cinema:
    type: "object"
    required:
    - "name"
    - "latitude"
    - "longitude"
    - "address"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "Kino Galaxie"
      address:
        type: "string"
        example: "Horní Dolní 12, 558 05 Liptákov"        
      latitude:
        type: "number"
        format: "float"
      longitude:
        type: "number"
        format: "float"
      openingHours:
        type: "string"
        example: "<b>Mo:</b> 10AM - 12PM<br /><b>Tue:</b> 10AM - 12PM<br />"
  Movie:
    type: "object"
    required:
      - "origName"
      - "genres"
      - "description"
    properties:
      id:
        type: "integer"
        format: "int64"
      localName:
        type: "string"
        description: "Localized movie name"
      origName:
        type: "string"
        description: "Original movie name"
      engName:
        type: "string"
        description: "Movie name localized to english"
      releaseDate:
        type: "integer"
        format: "int64"
        description: "Release date in UNIX Timestamp format. Hour, minute and seconds are zeros"
        example: "1491955200"
      releaseDateUS:
        type: "integer"
        format: "int64"
        description: "USA Release date in UNIX Timestamp format. Hour, minute and seconds are zeros"
        example: "1491955200"
      ratingCsfd:
        type: "integer"
        format: "int32"
        description: "ČSFD rating, percent"
      ratingImdb:
        type: "number"
        format: "float"
        description: "IMDb rating, one decimal place"
      posters:
        type: "array"
        items:
          type: "integer"
          format: "int64"
          description: "image identificator"
        example: [22232, 444551]
      genres:
        type: "array"
        items:
          type: "string"
        example: ["horror", "sci-fi"]
      description:
        type: "string"
      length:
        type: "integer"
        format: "int32"
        description: "movie length [minutes]"
  Poster:
    type: "object"
    required:
      - "name"
      - "data"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      width:
        type: "integer"
        format: "int32"
      height:
        type: "integer"
        format: "int32"
      dataSize:
        type: "integer"
        format: "int32"
        description: "data size in bytes"
      data:
        type: "string"
        format: "byte"
        description: "base64 encoded image"
  Projection:
    type: "object"
    description: "movie projection info"
    required:
      - "movie"
      - "time"
      - "lang"
    properties:
      id:
        type: "integer"
        format: "int64"
      movie:
        type: "integer"
        format: "int64"
        description: "movie identificator"
      cinema:
        type: "integer"
        format: "int64"
        description: "cinema identificator"
      time:
        type: "integer"
        format: "int64"
        description: "projection time in unix timestamp format"
      lang:
        type: "string"
        description: "movie language"
        example: "en"
      subtitles:
        type: "string"
        description: "subtitles language, can be empty"
        example: "cs"
      3d:
        type: "boolean"
        description: "true if movie is in 3D"
  User:
    type: "object"
    required:
      - "username"
      - "password"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
        format: "password"
  TrackingValue:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      value:
        type: "string"
      deviceId:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
        example: "1494782679"
        description: "Unix timestamp"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"